<div class="card">
  <div class="card-body">
    <h5 class="card-title">Categories</h5>
    <a routerLink="/categories/manage"class="btn btn-primary">Create new</a>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let categories of categories">
        <th scope="row">{{categories.id}}</th>
        <td>{{categories.name}}</td>
        <td>
          <a class="me-3" [routerLink]="['/categories/manage', categories.id]">Edit</a>
          <a class="me-3" [routerLink]="['/properties/byCategory', categories.id]">Property List</a>
          <a (click)="onDeleteCategory(categories.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

