<div class="card">
  <div class="card-body">
    <h5 class="card-title">Manage Properties</h5>
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id"/>

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" placeholder="Enter a title" class="form-control" id="title" formControlName="title"/>
        <span *ngIf="!propertyForm.get('title')?.valid && propertyForm.get('title')?.touched"
              class="text-danger">Please enter a valid email</span>
      </div>

      <div class="mb-3">
        <label for="categoryId" class="form-label"> Category</label>
        <select class="form-select" id="categoryId" aria-label="Default select example"
                formControlName="categoryId">
          <option [value]="0">Select a category</option>
          <option *ngFor="let category of categories"
                  [value]="category.id">{{category.name}}</option>
        </select>
        <span *ngIf="!propertyForm.get('categoryId')?.valid && propertyForm.get('categoryId')?.touched"
              class="text-danger">Please enter a Category </span>
      </div>

      <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <select class="form-select" placeholder="Select an option" id="type" aria-label="Default select example"
                formControlName="type">
          <option *ngFor="let t of this.types" [value]="t">{{t}}</option>
        </select>
        <span *ngIf="!propertyForm.get('type')?.valid && propertyForm.get('type')?.touched"
              class="text-danger">Please enter a Type </span>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea placeholder="Optional Description of Property" class="form-control" id="description"
                  formControlName="description">

        </textarea>
      </div>


      <div class="mb-3">
        <label for="location" class="form-label">Location </label>
        <input type="text" placeholder="Enter a Location" class="form-control" id="location"
               formControlName="location"/>
        <span *ngIf="!propertyForm.get('location')?.valid && propertyForm.get('location')?.touched"
              class="text-danger">Please enter a Location</span>
      </div>


      <div class="mb-3">
        <label for="propertyStatus" class="form-label">Property Status</label>
        <select class="form-select" id="propertyStatus"
                aria-label="Default select example"
                formControlName="propertyStatus">
          <option *ngFor="let s of this.statuses" [value]="s">{{s}}</option>
          <span *ngIf="!propertyForm.get('propertyStatus')?.valid && propertyForm.get('properrtyStatus')?.touched"
                class="text-danger">Please enter a Property Status</span>
        </select></div>


      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" placeholder="Enter a valid Price" class="form-control" id="price" formControlName="price"/>
        <span *ngIf="!propertyForm.get('price')?.valid && propertyForm.get('price')?.touched"
        class="text-danger">Please enter a price</span>
      </div>

      <div class="mb-3">
        <label for="yearBuild" class="form-label">Year Build</label>
        <input type="number" placeholder="From 2000 till 2020" class="form-control" id="yearBuild"
               formControlName="yearBuild"/>
        <span *ngIf="!propertyForm.get('yearBuild')?.valid && propertyForm.get('yearBuild')?.touched"
        class="text-danger">Please enter a Year build ( From 2000 till 2020 ) </span>
      </div>


      <div class="mb-3">
        <label for="bedroom" class="form-label">Bedroom </label>
        <input type="number" placeholder="Enter from 1-20" class="form-control" id="bedroom" formControlName="bedroom"/>
        <span *ngIf="!propertyForm.get('bedroom')?.valid && propertyForm.get('bedroom')?.touched"
              class="text-danger">Please enter the number of bathrooms</span>
      </div>
      <div class="mb-3">
        <label for="bathroom" class="form-label">Bathroom </label>
        <input type="number" placeholder="Enter from 1-20" class="form-control" id="bathroom"
               formControlName="bathroom"/>
        <span *ngIf="!propertyForm.get('bathroom')?.valid && propertyForm.get('bathroom')?.touched"
              class="text-danger">Please enter the number of bedrooms</span>
      </div>

      <div class="mb-3">
        <label for="featured" class="form-label">Featured </label>
        <input type="checkbox" ng-model="checkboxModel.featured" id="featured" formControlName="featured"/>
      </div>

      <div class="mb-3">
        <label for="photo" class="form-label">Photo</label>
        <input type="file" class="form-control" id="photo" (change)="uploadFile($event)" />
      </div>

      <div>
        <button [disabled]="!propertyForm.valid" class="btn btn-primary">Save Property</button>
        <a routerLink="/properties" class="btn">Cancel</a>
      </div>

    </form>
  </div>
</div>
