<div class="card">
  <div class="card-body">
    <h5 class="card-title">Manage Client</h5>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id" />
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name"/>
        <span *ngIf="!clientForm.get('name')?.valid && clientForm.get('name')?.touched"
              class="text-danger">Please enter a valid name</span>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email"/>
        <span *ngIf="!clientForm.get('email')?.valid && clientForm.get('email')?.touched"
              class="text-danger">Please enter a valid email</span>
      </div>

      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"/>
      </div>

      <div>
        <button [disabled]="!clientForm.valid" class="btn btn-primary">Save client</button>
        <a routerLink="/clients" class="btn">Cancel</a>
      </div>

    </form>
  </div>
</div>
