<div class="card">
  <div class="card-body">
    <h5 class="card-title">Manage Reservation</h5>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id"/>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"/>
        <span *ngIf="!reservationForm.get('phoneNumber')?.valid && reservationForm.get('phoneNumber')?.touched"
              class="text-danger">Please enter a valid number</span>
      </div>
      <div class="mb-3">
        <label for="propertyId" class="propertyId">Property Id</label>
        <input type="text" class="form-control" id="propertyId" formControlName="propertyId"/>
        <span *ngIf="!reservationForm.get('propertyId')?.valid && reservationForm.get('propertyId')?.touched"
              class="text-danger">Please enter a valid Property Id</span>
      </div>

      <div class="mb-3">
        <label for="clientName" class="clientId">Client Name</label>
        <input type="text" class="form-control" id="clientName" formControlName="clientName"/>
        <span *ngIf="!reservationForm.get('clientName')?.valid && reservationForm.get('clientName')?.touched"
              class="text-danger">Please enter a valid Client Name</span>
      </div>

      <div class="mb-3">
        <label for="clientEmail" class="clientEmail">Client Email</label>
        <input type="text" class="form-control" id="clientEmail" formControlName="clientEmail"/>
        <span *ngIf="!reservationForm.get('clientEmail')?.valid && reservationForm.get('clientEmail')?.touched"
              class="text-danger">Please enter a valid EMAIL</span>
      </div>
      <div class="mb-3">
        <label for="finalPrice" class="form-label">Final Price</label>
        <input type="text" class="form-control" id="finalPrice" formControlName="finalPrice"/>
        <span *ngIf="!reservationForm.get('finalPrice')?.valid && reservationForm.get('finalPrice')?.touched"
              class="text-danger">Please enter a valid price</span>
      </div>
      <div>
        <button [disabled]="!reservationForm.valid" class="btn btn-primary">Save Reservation</button>
        <a routerLink="/reservations" class="btn">Cancel</a>
      </div>

    </form>
  </div>
</div>

