<div class="card">
  <div class="card-body">
    <h5 class="card-title">Manage Reservation</h5>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id" />
      <div class="mb-3">
        <label for="finalPrice" class="form-label">Final Price</label>
        <input type="text" class="form-control" id="finalPrice" formControlName="finalPrice"/>
        <span *ngIf="!reservationForm.get('finalPrice')?.valid && reservationForm.get('finalPrice')?.touched"
              class="text-danger">Please enter a valid price</span>
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <input type="text" class="form-control" id="comment" formControlName="comment"/>
        <span *ngIf="!reservationForm.get('comment')?.valid && reservationForm.get('comment')?.touched"
              class="text-danger">Please enter a valid comment</span>
      </div>
      <div class="mb-3">
        <label for="propertyId" class="propertyId">Property Id</label>
        <input type="text" class="form-control" id="propertyId" formControlName="propertyId"/>
        <span *ngIf="!reservationForm.get('propertyId')?.valid && reservationForm.get('propertyId')?.touched"
              class="text-danger">Please enter a valid Property Id</span>
      </div>
      <div class="mb-3">
        <label for="clientId" class="clientId">Client Id</label>
        <input type="text" class="form-control" id="clientId" formControlName="clientId"/>
        <span *ngIf="!reservationForm.get('clientId')?.valid && reservationForm.get('clientId')?.touched"
              class="text-danger">Please enter a valid Client Id</span>
      </div>

      <div>
        <button [disabled]="!reservationForm.valid" class="btn btn-primary">Save Reservation</button>
        <a routerLink="/reservations" class="btn">Cancel</a>
      </div>

    </form>
  </div>
</div>

