<div class="card">
  <div class="card-body">
    <h5 class="card-title">Properties</h5>
    <a class="btn btn-primary" routerLink="/properties/manage">Create</a>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">Property Status</th>
        <th scope="col">Location</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">Category ID</th>
        <th scope="col">price</th>
        <th scope="col">Year Build</th>
        <th scope="col">Bedrooms</th>
        <th scope="col">Bathrooms</th>
        <th scope="col">Featured</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let property of properties">
        <th scope="row">{{property.id}}</th>
        <td>{{property.title}}</td>
        <td>{{property.propertyStatus}}</td>
        <td>{{property.location}}</td>
        <td>{{property.type}}</td>
        <td>{{property.description}}</td>
        <td>{{property.categoryId}}</td>
        <td>{{property.price}}</td>
        <td>{{property.yearBuild}}</td>
        <td>{{property.bedroom}}</td>
        <td>{{property.bathroom}}</td>
        <td>{{property.featured}}</td>
        <td>
          <a class="me-3" [routerLink]="['/properties/manage', property.id]">Edit</a>
          <a (click)="onDeleteProperties(property.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
