<!--<ul>-->
<!--  <li><a-->
<!--    routerLinkActive="active"-->
<!--    [routerLinkActiveOptions]="{exact: true}"-->
<!--    routerLink="/categories">Categories</a></li>-->
<!--  <li>-->
<!--    <a routerLinkActive="active"-->
<!--       [routerLinkActiveOptions]="{exact: true}"-->
<!--       routerLink="/banners">Banners</a></li>-->
<!--  <li><a routerLinkActive="active"-->
<!--         [routerLinkActiveOptions]="{exact: true}"-->
<!--         routerLink="/agents">Agents</a></li>-->
<!--  <li><a-->
<!--    routerLinkActive="active"-->
<!--    [routerLinkActiveOptions]="{exact: true}"-->
<!--    routerLink="/clients">Clients </a></li>-->
<!--  <li><a-->
<!--    routerLinkActive="active"-->
<!--    [routerLinkActiveOptions]="{exact: true}"-->
<!--    routerLink="/reservations">Reservations </a></li>-->
<!--  <li><a-->
<!--    routerLinkActive="active"-->
<!--    [routerLinkActiveOptions]="{exact: true}"-->
<!--    routerLink="/properties">Properties</a></li>-->
<!--  <li><a-->
<!--    routerLinkActive="active"-->
<!--    [routerLinkActiveOptions]="{exact: true}"-->
<!--    routerLink="/posts">Blog</a></li>-->
<!--  <li><a-->
<!--    routerLinkActive="active"-->
<!--    [routerLinkActiveOptions]="{exact: true}"-->
<!--    routerLink="/pages">Pages</a></li>-->
<!--</ul>-->


  <div id="menu-nav">
  <div id="navigation-bar">
    <ul>
      <li><a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/categories">Categories</a></li>
      <li>
        <a routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/banners">Banners</a></li>
      <li><a routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/agents">Agents</a></li>
      <li><a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/clients">Clients </a></li>
      <li><a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/reservations">Reservations </a></li>
      <li><a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/properties">Properties</a></li>
      <li><a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/posts">Blog</a></li>
      <li><a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/pages">Pages</a></li>
    </ul>

  </div>
  </div>

  <router-outlet></router-outlet>


